<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceSpring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SpaceSpringWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB5362611E79FC6900F9BCA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB53627A1E79FC6900F9BCA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB5362851E79FC6900F9BCA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB5362A11E7A050B00F9BCA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
